
    body{
        width : 70%;
        margin: 10px auto;
        background-repeat: no-repeat;
    }

    .paragraf{
        background-color: burlywood;
        border: 1px solid pink;
        margin-bottom: 25px;
    }

    .table, .hyperlink, .form, .image{
        /* background-color: blue; */
        width: 100%;
        margin: 25px 40%;
        margin-bottom: 30px;
    }

    .list{
        background-color: burlywood;
        border: 1px solid black;
        margin: 20px auto;
    }

    #id{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        background-color: royalblue;
    }
    .class{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-top: 30px;
        background-color: violet;
    }

    